benchmarks/graphs/*
*~
*.kate-swp
build/assets/Documenter.css
build/assets/mathjaxhelper.js
build/curve_fit.jl
build/levenberg_marquardt.jl
build/LsqFit.jl
docs/build/api/index.html
docs/build/assets/arrow.svg
docs/build/assets/documenter.css
docs/build/assets/documenter.js
docs/build/assets/search.js
docs/build/getting_started/index.html
docs/build/index.html
docs/build/search/index.html
docs/build/search_index.js
docs/build/manual/index.html
docs/src/wls.md
docs/src/tutorial_dup.md
